<div class="container">
    <div class="row">
        <div class="about col-md-6">
            <img src="/images/logo.jpeg" alt="">
        </div>
        <div class="col-md-6 d-flex align-items-center">
            <p>Ironhack is not only a bootcamp; it's a life-changing experience and a family that will always be there
                for you.
            </p>
        </div>
    </div>
</div>