<div class="container">
    <h1>Ironhack Gallery</h1>

    <div class="images">
        <img class="p-2" src="/images/ironhack-foto.jpeg" alt="">
        <img class="p-2" src="/images/images.jpeg" alt="">
        <img class="p-2" src="/images/ironhack1.png" alt="">
    </div>
</div>